{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YOLO</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Halo its my first time new</h1>
    {% extends 'base.html' %}
    {% block content %}
    <ul>
        {% for i in hewan %}
        <li>
            {{i.nama_hewan}}
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>