{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="imageau">
                <img src="https://i.postimg.cc/FK2YMSd0/profile-pic2.jpg" alt="">
            </div>
            <div class="textau">
                <h2>
                    Agatha Rachmadika Yulitasari
                </h2>
                <p>
                    Saya adalah lulusan Matematika Institut Teknologi Bandung. Saya menyukai optimisasi dan koding. Saat ini saya sedang menyelesaikan program Full Stack Engineer di Alterra Academy.
                </p>
                <p>
                    Alamat <span class="tab"> : Jalan Terusan Cikampek 21 
                </span>
                </p>
                <p>
                    Telephone <span class="tab">: 0895379750708
                </span>
                </p>
                <p>
                    Education <span class="tab">: Alterra Academy
                </span>
                </p>
                <p>
                    Profession <span class="tab"> : Data Analyst
                </span>
                </p>
                <p>
                    Nationality <span class="tab"> : Indonesia
                </span>
                </p>
                <p>
                    Company <span class="tab"> : Alterra
                </span>                
                </p>
                <p>
                    Email <span class="tab">: agatha@alterra.id
                </span>
                </p>
                <p>
                    Address<span class="tab"> : Jalan Terusan Cikampek 21
                </span>                
                </p>
                <br>
            </div>
            <div class="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>                    
        </div>
    </div>
</div>
{% endblock %}