{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        {% for i in blog %}
        <div class="row justify-content-center">
            <div class="col-6">
                <img class="blogphotos" src="{{i.photo}}">
                <div class="row">
                        <div class="col-6 blogtanggal text-left ">
                            <span>{{i.date_create}}</span>
                        </div>
                        <div class="col 6 text-right p-0 text-right">
                            <span>0 comment</span>
                        </div>
                    </div>
                    <div class="row blogjudul">
                            <h2>{{i.tittle}}</h2>
                            <p>{{i.content|safe|truncatewords:"50"|linebreaks}}</p>
                            <p><a href="#">Baca Selengkapnya</a></p>
                    </div>
            </div>
        </div>
         
        {% endfor %}
    </div>
{% endblock %}